{
    local_certs
}

{$SIGNOZ_DOMAIN} {
    basic_auth / {
        admin {$SIGNOZ_ADMIN_PASSWORD_HASH}
    }

    reverse_proxy signoz-frontend:3301 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }

    log {
        output file /var/log/caddy/access.log
    }
}
